body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
}

.container-header {
    width: 80%;
    margin: 0 auto;
    padding: 1px;
}

header {
    display: flex;
    background: linear-gradient(45deg, #0a0a0a, #3a3452);;
    color: whitesmoke;
    justify-content: space-between;
    text-align: center;
    padding: 50px 0;
    border-bottom: 30px;
}
header {
    animation: fadeIn 1s ease; 
}

header{
    border-style: solid;
    border-width: 0px 0px 4px 0px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.container-about img{
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.9); 
    
}

.container-skills {
    flex: 2;
    padding-left: 20px;
}
/* .container-skills ul li strong {
    display: block;
} */

.container-about img:hover {
    transform: scale(1.05); 
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2); 
    filter: drop-shadow(0 0 10px 5px #333);
}



#skills {
    margin:-90px
}

section {
    padding: 50px 0;
    text-align: center;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

section#about img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
section#about {
    display: flex;
    align-items: center;
    padding: 50px;
    
}


section#skills ul {
    list-style-type: none;
    padding: 0;
}

section#skills li {
    font-size: 1.2em;
    margin: 25px 0;
}

section#resume .btn {
    display: inline-block;
    padding: 10px 20px;
    background:linear-gradient(45deg, #0a0a0a, #3a4452);;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
}

section#resume .btn:hover {
    background:#FCDC94;
    color: black;
    transform: scale(1.1);
}

section#contact {
    background-color: #fffffff8;
    ;
}
section#contact .contact-info p {
    font-size: 1.2em;
}

section#contact .contact-info a {
    color: red;
    text-decoration: none;
    transition: color 0.3s ease;
   
}

section#contact .contact-info a:hover {
    color: blueviolet;
}

footer {
    background:  linear-gradient(45deg, #0a0a0a, #3a3452);;
    color: whitesmoke;
    text-align: center;
    padding: 30px 0;
    margin-top: 10px;
}

